@model Guests
@{
    ViewData["Title"] = "Delete Guest";
}

<h2>Delete Guest</h2>

<div>
    <h3>Are you sure you want to delete this guest?</h3>
    <div>Name: @Model.Name</div>
    <div>Contact Info: @Model.ContactInfo</div>
    <div>Address: @Model.Address</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="GuestID" />
        <button type="submit">Delete</button>
        <a asp-action="Index">Cancel</a>
    </form>
</div>
